html {
    justify-content: center;
    align-items: center;
}

.hangman-text-mobile {
    display: none;
}

.hangman-guess {
    width:5%;
}

.hangman p {
    font-size: 30px;
    text-align: center;
}

.hangman {
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
}

.hangman-columns {
    width: 50%;
    justify-content: flex-end;
}

.hangman-columns-2 {
    width: 50%;
    justify-content: flex-start;
}

.hangman-buttons button {
    font-size: 15px;
}

.hangman-input {
    max-width: 30%;
}


@media only screen and (max-device-width: 800px) {
    .hangman {
        padding: 25rem 5rem
        display: flex;
        flex-direction: column;
    }

    .hangman-columns {
        width: 100%;
        justify-content: flex-end;
    }

    .hangman-columns-2 {
        width: 100%;
        justify-content: flex-start;
    }

    .hangman p {
        padding: 2rem 0rem;
        font-size: 50px;
        text-align: center;
        line-height: 1.6;
    }

    .hangman-text {
        font-size: 100px;
        text-align: center;
        line-height: 1.6;
    }

    .hangman-buttons button {
        font-size: 25px;
    }

    .hangman-input {
        max-width: 60%;
        font-size: 30px;
    }

    .hangman-input-div {
        padding: 2rem 0rem;
    }

    .hangman-guess {
        width: 10%;
    }
}

@media only screen and (max-device-width: 250px) {
    .hangman {
        display: none;
    }

    .hangman-text-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10rem 2rem;
        height: 100rem;

    }

    .hangman-text-mobile h1 {
        font-size: 60px;
        text-align: center;
    }
}